In [17]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read in charity_data csv file.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the 'NAME' column from the dataframe
application_df = application_df.drop(columns=["NAME"])

In [19]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [20]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 10].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['EIN'] = application_df['EIN'].replace(app,"Other")

# Check to make sure binning was successful
application_df['EIN'].value_counts()

EIN
10520599     1
626274659    1
630475330    1
630416100    1
630357662    1
            ..
383880377    1
383876652    1
383874900    1
383871370    1
996086871    1
Name: count, Length: 34299, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [26]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])


nn = tf.keras.models.Sequential()

# create First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=number_input_features))



# xreate Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))


# create Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                4240

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 6701 (26.18 KB)
Trainable params: 6701 (26.18 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 885us/step - loss: 0.5685 - accuracy: 0.7227
Epoch 2/100
804/804 [==============================] - 1s 878us/step - loss: 0.5537 - accuracy: 0.7297
Epoch 3/100
804/804 [==============================] - 1s 879us/step - loss: 0.5489 - accuracy: 0.7322
Epoch 4/100
804/804 [==============================] - 1s 913us/step - loss: 0.5473 - accuracy: 0.7333
Epoch 5/100
804/804 [==============================] - 1s 877us/step - loss: 0.5454 - accuracy: 0.7351
Epoch 6/100
804/804 [==============================] - 1s 876us/step - loss: 0.5445 - accuracy: 0.7342
Epoch 7/100
804/804 [==============================] - 1s 902us/step - loss: 0.5431 - accuracy: 0.7346
Epoch 8/100
804/804 [==============================] - 1s 870us/step - loss: 0.5418 - accuracy: 0.7355
Epoch 9/100
804/804 [==============================] - 1s 888us/step - loss: 0.5412 - accuracy: 0.7358
Epoch 10/100
804/804 [==============================] - 1s 866us/step - loss: 0.5405 - accuracy: 0.7369
Epoch 11/100
804/804 [==============================] - 1s 860us/step - loss: 0.5394 - accuracy: 0.7372
Epoch 12/100
804/804 [==============================] - 1s 874us/step - loss: 0.5393 - accuracy: 0.7375
Epoch 13/100
804/804 [==============================] - 1s 883us/step - loss: 0.5386 - accuracy: 0.7381
Epoch 14/100
804/804 [==============================] - 1s 889us/step - loss: 0.5374 - accuracy: 0.7380
Epoch 15/100
804/804 [==============================] - 1s 876us/step - loss: 0.5368 - accuracy: 0.7384
Epoch 16/100
804/804 [==============================] - 1s 874us/step - loss: 0.5363 - accuracy: 0.7381
Epoch 17/100
804/804 [==============================] - 1s 872us/step - loss: 0.5360 - accuracy: 0.7404
Epoch 18/100
804/804 [==============================] - 1s 857us/step - loss: 0.5352 - accuracy: 0.7404
Epoch 19/100
804/804 [==============================] - 1s 874us/step - loss: 0.5352 - accuracy: 0.7406
Epoch 20/100
804/804 [==============================] - 1s 888us/step - loss: 0.5343 - accuracy: 0.7397
Epoch 21/100
804/804 [==============================] - 1s 856us/step - loss: 0.5330 - accuracy: 0.7418
Epoch 22/100
804/804 [==============================] - 1s 853us/step - loss: 0.5329 - accuracy: 0.7420
Epoch 23/100
804/804 [==============================] - 1s 873us/step - loss: 0.5328 - accuracy: 0.7423
Epoch 24/100
804/804 [==============================] - 1s 892us/step - loss: 0.5318 - accuracy: 0.7428
Epoch 25/100
804/804 [==============================] - 1s 894us/step - loss: 0.5311 - accuracy: 0.7420
Epoch 26/100
804/804 [==============================] - 1s 879us/step - loss: 0.5311 - accuracy: 0.7426
Epoch 27/100
804/804 [==============================] - 1s 866us/step - loss: 0.5308 - accuracy: 0.7432
Epoch 28/100
804/804 [==============================] - 1s 868us/step - loss: 0.5298 - accuracy: 0.7444
Epoch 29/100
804/804 [==============================] - 1s 859us/step - loss: 0.5294 - accuracy: 0.7432
Epoch 30/100
804/804 [==============================] - 1s 896us/step - loss: 0.5288 - accuracy: 0.7443
Epoch 31/100
804/804 [==============================] - 1s 856us/step - loss: 0.5287 - accuracy: 0.7446
Epoch 32/100
804/804 [==============================] - 1s 902us/step - loss: 0.5280 - accuracy: 0.7466
Epoch 33/100
804/804 [==============================] - 1s 901us/step - loss: 0.5276 - accuracy: 0.7459
Epoch 34/100
804/804 [==============================] - 1s 972us/step - loss: 0.5270 - accuracy: 0.7460
Epoch 35/100
804/804 [==============================] - 1s 865us/step - loss: 0.5268 - accuracy: 0.7458
Epoch 36/100
804/804 [==============================] - 1s 861us/step - loss: 0.5263 - accuracy: 0.7461
Epoch 37/100
804/804 [==============================] - 1s 882us/step - loss: 0.5260 - accuracy: 0.7458
Epoch 38/100
804/804 [==============================] - 1s 862us/step - loss: 0.5257 - accuracy: 0.7476
Epoch 39/100
804/804 [==============================] - 1s 872us/step - loss: 0.5257 - accuracy: 0.7464
Epoch 40/100
804/804 [==============================] - 1s 889us/step - loss: 0.5249 - accuracy: 0.7483
Epoch 41/100
804/804 [==============================] - 1s 862us/step - loss: 0.5246 - accuracy: 0.7454
Epoch 42/100
804/804 [==============================] - 1s 859us/step - loss: 0.5252 - accuracy: 0.7459
Epoch 43/100
804/804 [==============================] - 1s 854us/step - loss: 0.5243 - accuracy: 0.7479
Epoch 44/100
804/804 [==============================] - 1s 890us/step - loss: 0.5231 - accuracy: 0.7472
Epoch 45/100
804/804 [==============================] - 1s 889us/step - loss: 0.5239 - accuracy: 0.7475
Epoch 46/100
804/804 [==============================] - 1s 864us/step - loss: 0.5233 - accuracy: 0.7489
Epoch 47/100
804/804 [==============================] - 1s 874us/step - loss: 0.5223 - accuracy: 0.7474
Epoch 48/100
804/804 [==============================] - 1s 857us/step - loss: 0.5228 - accuracy: 0.7485
Epoch 49/100
804/804 [==============================] - 1s 886us/step - loss: 0.5227 - accuracy: 0.7485
Epoch 50/100
804/804 [==============================] - 1s 871us/step - loss: 0.5218 - accuracy: 0.7479
Epoch 51/100
804/804 [==============================] - 1s 869us/step - loss: 0.5218 - accuracy: 0.7498
Epoch 52/100
804/804 [==============================] - 1s 889us/step - loss: 0.5219 - accuracy: 0.7485
Epoch 53/100
804/804 [==============================] - 1s 886us/step - loss: 0.5214 - accuracy: 0.7481
Epoch 54/100
804/804 [==============================] - 1s 873us/step - loss: 0.5204 - accuracy: 0.7498
Epoch 55/100
804/804 [==============================] - 1s 858us/step - loss: 0.5213 - accuracy: 0.7492
Epoch 56/100
804/804 [==============================] - 1s 910us/step - loss: 0.5206 - accuracy: 0.7486
Epoch 57/100
804/804 [==============================] - 1s 871us/step - loss: 0.5203 - accuracy: 0.7496
Epoch 58/100
804/804 [==============================] - 1s 877us/step - loss: 0.5197 - accuracy: 0.7498
Epoch 59/100
804/804 [==============================] - 1s 886us/step - loss: 0.5194 - accuracy: 0.7502
Epoch 60/100
804/804 [==============================] - 1s 858us/step - loss: 0.5193 - accuracy: 0.7489
Epoch 61/100
804/804 [==============================] - 1s 890us/step - loss: 0.5197 - accuracy: 0.7486
Epoch 62/100
804/804 [==============================] - 1s 884us/step - loss: 0.5191 - accuracy: 0.7498
Epoch 63/100
804/804 [==============================] - 1s 876us/step - loss: 0.5188 - accuracy: 0.7498
Epoch 64/100
804/804 [==============================] - 1s 892us/step - loss: 0.5184 - accuracy: 0.7501
Epoch 65/100
804/804 [==============================] - 1s 912us/step - loss: 0.5183 - accuracy: 0.7495
Epoch 66/100
804/804 [==============================] - 1s 874us/step - loss: 0.5187 - accuracy: 0.7505
Epoch 67/100
804/804 [==============================] - 1s 885us/step - loss: 0.5175 - accuracy: 0.7505
Epoch 68/100
804/804 [==============================] - 1s 869us/step - loss: 0.5173 - accuracy: 0.7512
Epoch 69/100
804/804 [==============================] - 1s 892us/step - loss: 0.5172 - accuracy: 0.7510
Epoch 70/100
804/804 [==============================] - 1s 896us/step - loss: 0.5172 - accuracy: 0.7504
Epoch 71/100
804/804 [==============================] - 1s 905us/step - loss: 0.5173 - accuracy: 0.7509
Epoch 72/100
804/804 [==============================] - 1s 872us/step - loss: 0.5163 - accuracy: 0.7511
Epoch 73/100
804/804 [==============================] - 1s 894us/step - loss: 0.5162 - accuracy: 0.7510
Epoch 74/100
804/804 [==============================] - 1s 915us/step - loss: 0.5162 - accuracy: 0.7518
Epoch 75/100
804/804 [==============================] - 1s 900us/step - loss: 0.5159 - accuracy: 0.7519
Epoch 76/100
804/804 [==============================] - 1s 888us/step - loss: 0.5164 - accuracy: 0.7509
Epoch 77/100
804/804 [==============================] - 1s 897us/step - loss: 0.5155 - accuracy: 0.7504
Epoch 78/100
804/804 [==============================] - 1s 898us/step - loss: 0.5150 - accuracy: 0.7526
Epoch 79/100
804/804 [==============================] - 1s 895us/step - loss: 0.5150 - accuracy: 0.7528
Epoch 80/100
804/804 [==============================] - 1s 874us/step - loss: 0.5150 - accuracy: 0.7518
Epoch 81/100
804/804 [==============================] - 1s 889us/step - loss: 0.5154 - accuracy: 0.7518
Epoch 82/100
804/804 [==============================] - 1s 901us/step - loss: 0.5153 - accuracy: 0.7515
Epoch 83/100
804/804 [==============================] - 1s 877us/step - loss: 0.5155 - accuracy: 0.7518
Epoch 84/100
804/804 [==============================] - 1s 875us/step - loss: 0.5147 - accuracy: 0.7514
Epoch 85/100
804/804 [==============================] - 1s 879us/step - loss: 0.5148 - accuracy: 0.7529
Epoch 86/100
804/804 [==============================] - 1s 879us/step - loss: 0.5145 - accuracy: 0.7525
Epoch 87/100
804/804 [==============================] - 1s 896us/step - loss: 0.5145 - accuracy: 0.7509
Epoch 88/100
804/804 [==============================] - 1s 885us/step - loss: 0.5144 - accuracy: 0.7521
Epoch 89/100
804/804 [==============================] - 1s 858us/step - loss: 0.5142 - accuracy: 0.7511
Epoch 90/100
804/804 [==============================] - 1s 899us/step - loss: 0.5141 - accuracy: 0.7519
Epoch 91/100
804/804 [==============================] - 1s 876us/step - loss: 0.5142 - accuracy: 0.7519
Epoch 92/100
804/804 [==============================] - 1s 853us/step - loss: 0.5139 - accuracy: 0.7530
Epoch 93/100
804/804 [==============================] - 1s 871us/step - loss: 0.5131 - accuracy: 0.7519
Epoch 94/100
804/804 [==============================] - 1s 852us/step - loss: 0.5133 - accuracy: 0.7544
Epoch 95/100
804/804 [==============================] - 1s 852us/step - loss: 0.5132 - accuracy: 0.7524
Epoch 96/100
804/804 [==============================] - 1s 870us/step - loss: 0.5128 - accuracy: 0.7536
Epoch 97/100
804/804 [==============================] - 1s 891us/step - loss: 0.5135 - accuracy: 0.7521
Epoch 98/100
804/804 [==============================] - 1s 868us/step - loss: 0.5126 - accuracy: 0.7539
Epoch 99/100
804/804 [==============================] - 1s 856us/step - loss: 0.5130 - accuracy: 0.7529
Epoch 100/100
804/804 [==============================] - 1s 866us/step - loss: 0.5126 - accuracy: 0.7519

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5575 - accuracy: 0.7304 - 258ms/epoch - 963us/step
Loss: 0.5575218200683594, Accuracy: 0.7303789854049683

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization2.h5")

c:\Users\Adwoa\anaconda3\envs\databootcamp\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(